a:link,
a:visited,
a:hover,
a:active {
	color: #800000;
}

body {
	background: url("/img/bg.gif") repeat-x scroll 0 0 #353229;
}
#content {
	background-color: #fbf9ef;
	margin: 0 auto;
	padding: 0 20px;
	width: 868px;
}
#footer {
	background-color: #e4e1d7;
	border-bottom: 4px solid #8e8879;
	text-align: center;
}
#header {
	background: url("/img/header-bg.jpg");
	height: 237px;
	position: relative;
}
#header form {
	position: absolute;
	right: 20px;
	top: 20px;
	
}

.edgecontainer {
	background: #eee;
	margin: 0 auto;
	width: 908px;
}
#sidebar h2 {
	line-height: 26.666px;
}
#sidebarfacets li {
	padding-left: 1em;
}
#sidebarfacets ul {
	list-style-type: none;
	margin-left: 0;
}
table.result {
	margin-bottom: 20px;
	padding-bottom: 20px;
}
table.result h3 {
	line-height: 20px;
}
table.result th {
	color: #555;
	font-size: 90%;
	font-weight: normal;
	padding-right: 1em;
	text-align: right;
}
table.result th.top {
	vertical-align: top;
}
@media (max-width: 767px) {
	#content {
		padding: 0 20px;
		width: auto;
	}
	.edgecontainer {
		width: auto;
	}	
}
@media (min-width: 768px) and (max-width: 979px) {
	.edgecontainer {
		width: 692px;
	}
	#content {
		width: 652px;
	}
}

#navigation {
	background-color: #e0cb97;
	border-bottom: 1px solid #666;
	float: left;
	width: 100%;
}
#navigation a:link,
#navigation a:visited,
#navigation a:hover,
#navigation a:active {
	color: #666;
	display: block;
	padding: 5px 10px;
}
#navigation li {
	border-right: 1px solid #666;
	float: left;
}
#navigation ul {
	float: left;
	list-style-type: none;
	margin-bottom: 0;
	margin-left: 0;
}

#subnavbrowse {
	background-color: #e0cb97;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	display: none;
	left: -1px;
	margin-right: -1px;
	position: absolute;
	top: 31px;
	width: 150px;
}
#subnavbrowse li {
	border-right: none;
	float: none;
}
#subnavbrowse ul {
	border-bottom: 1px solid #666;
	float: none;
}

